[submodule "Open-Cap-Format-OCF"]
	path = libs/Open-Cap-Format-OCF
	url = https://github.com/Open-Cap-Table-Coalition/Open-Cap-Format-OCF.git
[submodule "libs/cn-quickstart"]
	path = libs/cn-quickstart
	url = https://github.com/digital-asset/cn-quickstart
[submodule "libs/splice"]
	path = libs/splice
	url = https://github.com/hyperledger-labs/splice
[submodule "libs/open-captable-protocol-daml"]
	path = libs/open-captable-protocol-daml
	url = git@github.com:Fairmint/open-captable-protocol-daml.git
